// Fonts
$font-primary: 'Poppins',Arial, sans-serif;
$font-secondary: 'Josefin Sans',Arial, sans-serif;
$font-tertiary: 'Great Vibes', cursive;

// Color
$white: #fff;
$black: #000;
$darken: #151111;

$primary: #c49b63;
$secondary: #f8b500;