@import "~bootstrap/scss/bootstrap";
@import "core-variables";

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
    font-family: $font-primary;
}

body {
    font-family: $font-primary;
    background: $darken;
    font-size: 0.9375rem;
    line-height: 1.8;
    font-weight: 300;
    color: lighten($black, 50%);
    background: url(../img/backgrounds/page-bg.jpg) no-repeat fixed;
    background-size: cover;

    &.menu-show {
        overflow: hidden;
        position: fixed;
        height: 100%;
        width: 100%;
    }
}

span {
    color: lighten($black, 75%);
}

a {
    transition: 0.3s all ease;
    color: $primary;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
        color: $primary;
        outline: none !important;
        text-decoration: none !important;
    }
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
    line-height: 1.4;
    color: $white;
    font-weight: 400;
    font-family: $font-secondary;
}

.text-primary {
    color: $primary !important;
}

.bg-light {
    background: lighten($black, 98%) !important;
}

.bg-primary {
    background: $primary;
}

@import "_components/include";
