#categoryTabs .nav-link {
    color: white;
    text-transform: capitalize;
}

#categoryTabs .nav-link.active {
    color: var(--primary);
}

#categoryTabsContent .row {
    min-height: 400px;
}

#categoryTabsContent .category-info {
    margin: 12px 0 24px;
}

#categoryTabsContent .category-title {
    font-size: 1.4rem;
}

#categoryTabsContent .category-description {
    font-size: 1rem;
}

@keyframes rainbow {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

#categoryTabsContent .out-of-stock {
    font-weight: bold;
    font-size: 2rem;
    background: linear-gradient(
        to right,
        #DFB78C,
        #AB6832,
        #49281A,
        #C49B63,
        #DFB78C,
        #DFB78C,
        #DFB78C
    );
    background-size: 200% 100%;
    color: transparent;
    -webkit-background-clip: text;
    animation: rainbow 5s ease-out infinite;
}

#myTable_wrapper select {
    width: 80px;
}
/* login */

.remember-forgot{
    display:flex;
    justify-content: space-between;
}



  .bg-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("C:\Users\ASUS\Desktop\IS207\Coffee_Shop_IS207_Group11\Coffee_Shop_IS207_Group11\coffee-shop\public\assets\img\backgrounds\login-bg.jpg");
    background-size: cover;
    background-position:center;
    z-index:0;
    filter: blur(5px);
  }
  .bg-img::after{
    content: "";
    
    width: 100%;
    height: 100%;
    position: absolute;
    background-color:rgba(0,0,0,0.5);
    z-index:1;
  }
  .bg-img > * {
    position: relative;
    z-index:2;
  }
  
