.cart-sm {
    max-height: 340px;
    overflow-y: auto;
}

.cart-sm .cart-sm-item {
    position: relative;
    padding: 8px 4px;
    height: 72px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.cart-sm .cart-sm-item .cart-qty {
    position: absolute;
    top: 8px;
    right: 4px;
}

.cart-sm .cart-sm-item .name {
    font-size: 18px;
    color: #555;
}

.cart-sm .cart-sm-item .price, .cart-sm .cart-sm-item button {
    color: #555;
}

.cart-sm .cart-sm-item button {
    transition: 0.2s ease-in;
}

.cart-sm .cart-sm-item button:hover,
.cart-sm .cart-sm-item button:active {
    color: var(--white);
}

.cart-sm .cart-sm-item button:active {
    opacity: 0.8;
}