#categoryTabs .nav-link {
    color: white;
    text-transform: capitalize;
}

#categoryTabs .nav-link.active {
    color: var(--primary);
}

#categoryTabsContent .row {
    min-height: 400px;
}

#categoryTabsContent .category-info {
    margin: 12px 0 24px;
}

#categoryTabsContent .category-title {
    font-size: 1.4rem;
}

#categoryTabsContent .category-description {
    font-size: 1rem;
}

@keyframes rainbow {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

#categoryTabsContent .out-of-stock {
    font-weight: bold;
    font-size: 2rem;
    background: linear-gradient(
        to right,
        #DFB78C,
        #AB6832,
        #49281A,
        #C49B63,
        #DFB78C,
        #DFB78C,
        #DFB78C
    );
    background-size: 200% 100%;
    color: transparent;
    -webkit-background-clip: text;
    animation: rainbow 5s ease-out infinite;
}
