// Footer start
.ftco-footer {
    padding: 7rem 0;
    background: darken($darken, 1%);

    .ftco-footer-logo {
        text-transform: uppercase;
        letter-spacing: 0.1rem;
    }

    .ftco-footer-widget {
        h2 {
            font-weight: normal;
            color: $white;
            margin-bottom: 40px;
            font-size: 1rem;
            font-weight: 400;
            position: relative;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        ul {
            li {
                a {
                    span {
                        color: $white;
                    }
                }
            }
        }

        .btn-primary {
            background: $white !important;
            border: 2px solid $white !important;
            
            &:hover {
                background: $white;
                border: 2px solid $white !important;
            }
        }

        .icon {
            margin-right: 1rem;
        }
    }

    p {
        color: rgba($white, 0.7);
    }

    a {
        color: rgba($white, 0.7);

        &:hover {
            color: $white;
        }
    }

    .ftco-heading-2 {
        font-size: 17px;
        font-weight: 400;
        color: $black;
    }

    .block-21 {
        .text {
            .heading {
                font-size: 1rem;
                font-weight: 300;
                a {
                    color: rgba(255, 255, 255, 0.9);
                    &:hover,
                    &:active,
                    &:focus {
                        color: $primary;
                    }
                }
            }

            .meta {
                > div {
                    display: inline-block;
                    font-size: 12px;
                    margin-right: 5px;

                    a {
                        color: lighten($black, 50%);
                    }
                }
            }
        }
    }
}

.ftco-footer-social {
    li {
        list-style: none;
        margin: 0 10px 0 0;
        display: inline-block;

        a {
            height: 50px;
            width: 50px;
            display: block;
            float: left;
            background: rgba($white, 0.05);
            border-radius: 50%;
            position: relative;

            span {
                position: absolute;
                font-size: 26px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &:hover {
                color: $white;
            }
        }
    }
}
