// OWL slider
.owl-carousel {
    position: relative;
    .owl-item {
        opacity: 0.4;
        &.active {
            opacity: 1;
        }
    }

    .owl-nav {
        position: absolute;
        top: 50%;
        width: 100%;
        .owl-prev,
        .owl-next {
            position: absolute;
            transform: translateY(-50%);
            margin-top: -10px;
            color: $primary !important;
            @include transition(0.7s);
            span {
                &:before {
                    font-size: 30px;
                }
            }
            opacity: 0;
        }
        .owl-prev {
            left: 0;
        }
        .owl-next {
            right: 0;
        }
    }
    &:hover {
        .owl-nav {
            .owl-prev,
            .owl-next {
                opacity: 1;
            }
            .owl-prev {
                left: -25px;
            }
            .owl-next {
                right: -25px;
            }
        }
    }
    &.home-slider {
        position: relative;
        height: 750px;
        z-index: 0;
        .slider-item {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            height: 750px;
            position: relative;
            z-index: 0;
            @include media-breakpoint-down(lg) {
                background-position: center center !important;
            }
            .overlay {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: $black;
                opacity: 0.3;
                z-index: -1;
            }
            .slider-text {
                color: $white;
                height: 750px;
                text-align: right;
                @include media-breakpoint-up(lg) {
                    .order-md-last {
                        text-align: left !important;
                    }
                }
                @include media-breakpoint-down(sm) {
                    text-align: center;
                }
                .subheading {
                    font-family: $font-tertiary;
                    font-size: 30px;
                    color: $primary;
                }
                h1 {
                    // font-family: $font-secondary;
                    text-transform: uppercase;
                    font-size: 40px;
                    color: $white;
                    line-height: 1.5;
                    font-weight: normal;
                    // font-family: $font-secondary;
                    letter-spacing: 1px;
                    strong {
                        color: $white;
                        font-family: $font-secondary;
                        font-size: 50px;
                        // text-transform: uppercase;
                    }
                    @include media-breakpoint-down(md) {
                        font-size: 30px;
                    }
                }
                p {
                    font-size: 18px;
                    line-height: 1.5;
                    font-weight: 300;
                    color: rgba(255, 255, 255, 1);
                    &.sub-p {
                        font-weight: 400;
                    }
                    strong {
                        font-weight: 700;
                        a {
                            color: $white;
                        }
                    }
                }
                .unstyled-list {
                    width: 50%;
                    padding: 0;
                    li {
                        list-style: none;
                    }
                }
                //BREADCRUBS
                .breadcrumbs {
                    text-transform: uppercase;
                    font-size: 13px;
                    letter-spacing: 1px;
                    span {
                        border-bottom: 2px solid rgba(255, 255, 255, 0.1);
                        a {
                            color: $white;
                        }
                    }
                }
            }
        }
        .owl-nav {
            .owl-prev,
            .owl-next {
                span {
                    color: $white;
                }
            }
        }
        &:hover {
            .owl-nav {
                .owl-prev,
                .owl-next {
                    opacity: 1;
                }
                .owl-prev {
                    left: 20px;
                }
                .owl-next {
                    right: 20px;
                }
            }
        }
        .owl-dots {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 40px;
            width: 100%;
            text-align: center;
            @include media-breakpoint-down(sm) {
                bottom: 5px;
            }
            .owl-dot {
                width: 18px !important;
                height: 18px !important;
                margin: 5px;
                border-radius: 50%;
                background: lighten($black, 90%);
                background: none;
                border: 2px solid rgba(255, 255, 255, 0.5);
                outline: none !important;
                position: relative;
                transition: 0.3s all ease;
                display: inline-block;
                span {
                    position: absolute;
                    width: 12px;
                    height: 12px;
                    background: rgba(255, 255, 255, 0.5);
                    border-radius: 50% !important;
                    left: 50%;
                    top: 50%;
                    display: block;
                    transform: translate(-50%, -50%);
                }
                &.active {
                    border: 2px solid rgba(255, 255, 255, 1);
                    span {
                        background: rgba(255, 255, 255, 1);
                    }
                }
            }
        }
    }
}

.owl-custom-nav {
    float: right;
    position: relative;
    z-index: 10;
    .owl-custom-prev,
    .owl-custom-next {
        padding: 10px;
        font-size: 30px;
        background: #ccc;
        line-height: 0;
        width: 60px;
        text-align: center;
        display: inline-block;
    }
}
